header {
  float: left;
  background: #E88642;
  color: blue;
}

header h1 {
  float: left;
  font-size: 50px;
  margin: 50px auto;
}

div img {
  float: left;
  height: 200px;
  width: 200px;
  transform: rotate(90deg);
}

main {
  float: left;
  background: blue;
}

h2 .me {
  float: left;
  font-size: 20px;
  margin-bottom: 5px;
}

h2 .place {
  float: left;
  outline: dotted 5px green;
}

ol li {
  margin: auto;
}

ul img{

  height: 300px;
  width: 400px;
}
